<div class="navbar-cqs <%= 'navbar-cqs-centered' if %w(home association).include? action_name %>">
  <div class="navbar-left navigation hidden-xs hidden-sm">
    <ul>
      <li><%= link_to "L'association", association_path %></li>
      <li><%= link_to "L'agenda", agenda_path %></li>
    </ul>
  </div>
  <div class="navbar-logo <%= 'navbar-logo-down logo-home' if %w(home association).include? action_name %>">
    <%= link_to root_path do %>
      <%= image_tag "logo-full.png", alt: "Ceux-qui-sèment permaculture logo", class: "logo #{'logo-big' if %w(home association).include? action_name}" %>
    <% end %>
  </div>
  <div class="navbar-right navigation hidden-xs hidden-sm">
    <ul>
      <li><%= link_to "La permaculture", permaculture_path %></li>
      <li><%= link_to "L'Écoasis", ecoasis_path %></li>
    </ul>
  </div>

  <div class="navbar-wagon-item hidden-md hidden-lg fixed-right">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "L'association", association_path %></li>
        <li><%= link_to "L'agenda", agenda_path %></li>
        <li><%= link_to "La permaculture", permaculture_path  %></li>
        <li><%= link_to "L'ecoasis", '#' %></li>
      </ul>
    </div>
  </div>
</div>
