<div class="vertical-card">
  <div class="vertical-card-image" style="background-image: url('<%= cl_image_path event.photo, width: 600, crop: :scale %>')">
  </div>
  <div class="ribbon">
    <div class="ribbon-top">
      <p><%= I18n.localize(event.start_date, format: '%^b') %></p>
    </div>
    <div class="ribbon-bottom">
      <p><%= event.start_date.day %></p>
    </div>
  </div>
  <div class="colored-block">

  </div>
  <div class="vertical-card-content">
    <h4><%= event.title %></h4>
    <div class="vertical-card-date">
      <div class="calendar-icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <%= prompt_date(event) %>
    </div>
    <%= link_to "Plus d'infos", event_path(event), class: "underline-bis link bold" %>
  </div>
</div>
