<div class="banner">
  <h1>Association de promotion de la <span class="green">permaculture</span> sur la Presqu'ile guérandaise</h1>
</div>
<div class="home-bullet-points">
  <div class="container">
    <div class="home-bullet-points-title">
      <h2 class="text-center"><span class="underline">Transition écologique et citoyenne</span></h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="bullet-point">
          <div class="bullet-point-picto text-center">
            <div class="picto">
              <%= image_tag "graine.png", height: 100 %>
            </div>
          </div>
          <div class="bullet-point-title text-center">
            <h3>L'association</h3>
          </div>
          <div class="text-center">
            <p>Portée par des valeurs humanistes, écologiques, sociales et solidaires, l'association Ceux qui Sèment a été fondée en Juillet 2016.</p>
            <div class="learn-more">
              <%= link_to 'En savoir plus', association_path %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bullet-point">
          <div class="bullet-point-picto text-center">
            <div class="picto">
              <%= image_tag "fleur-logo.png", height: 100 %>
            </div>
          </div>
          <div class="bullet-point-title text-center">
            <h3>La permaculture</h3>
          </div>
          <div class="text-center">
            <p>La permaculture est une démarche de conception éthique visant à construire des habitats humains durables en imitant le fonctionnement de la nature.</p>
            <div class="learn-more">
              <%= link_to 'En savoir plus', permaculture_path %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bullet-point">
          <div class="bullet-point-picto text-center">
            <div class="picto">
              <%= image_tag "ecoasis-logo.jpg", style: 'height: 100px; border-radius: 10px;' %>
            </div>
          </div>
          <div class="bullet-point-title text-center">
            <h3>L'Écoasis</h3>
          </div>
          <div class="text-center">
            <p>Fondée en juillet 2016, l’association dispose depuis décembre 2016 d’un espace de démonstration à Guérande, appelé l’Écoasis.</p>
            <div class="learn-more">
              <%= link_to 'En savoir plus', ecoasis_path %>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
<div class="home-agenda">
  <%= image_tag "home-polygon.png", alt: "Permaculture-image-ronde", class: "hidden-xs hidden-sm" %>
  <div class="container">
    <div class="home-agenda-box">
      <h2><span class="underline">Agenda</span></h2>
      <p>
        L’association organise des <strong>événements</strong> tout au long de l’année, d’initiation et d’introduction à la permaculture et à ses <strong>concepts</strong>
      </p>
    </div>
  </div>
  <div class="container flex-column-center">
    <div class="grid">
      <div class="grid-1">
        <%= render 'shared/big-card-home', event: Event.first %>
      </div>
      <div class="grid-2">
        <%= render 'shared/horizontal_card', event: Event.second %>
      </div>
      <div class="grid-3">
        <%= render 'shared/horizontal_card', event: Event.last %>
      </div>
    </div>
    <%= link_to "Voir tous les événements", agenda_path, class: "agenda-link" %>
  </div>
</div>

