<div class="banner background-image">
  <%= image_tag "banner.png", alt: "alttext" %>
  <h1>Association de promotion de la <span class="green">permaculture</span> sur la Presqu'ile guérandaise</h1>
</div>
<div class="home-bullet-points">
  <div class="home-bullet-points-title">
    <h2 class="text-center"><span class="underline">Transition écologique et citoyenne</span></h2>
  </div>
  <div class="container">
    <div class="row bullet-points">
      <div class="col-xs-12 col-md-4 bullet-point">
        <div class="bullet-point-picto text-center">
          <div class="picto">
            <div class="picto-back"></div>
            <%= image_tag "leaf.svg", alt: "alttext", height: 82 %>
          </div>
        </div>
        <div class="bullet-point-title text-center">
          <h3>L'association</h3>

        </div>
        <div class="text-center bullet-point-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptatem, nemo vero natus quisquam officiis similique quo itaque nam cupiditate deserunt ab iste ipsa laboriosam autem doloribus repellendus dolorem, fugit.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 bullet-point">
        <div class="bullet-point-picto text-center">
          <div class="picto">
            <div class="picto-back"></div>
            <%= image_tag "revolution.svg", alt: "alttext", height: 82 %>
          </div>
        </div>
        <div class="bullet-point-title text-center">
          <h3>La permaculture</h3>

        </div>
        <div class="text-center bullet-point-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quos, suscipit perspiciatis esse id consequatur fugiat voluptas ullam sed in sit ipsum rem aut ad pariatur et soluta repudiandae ipsam.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 bullet-point">
        <div class="bullet-point-picto text-center">
          <div class="picto">
            <div class="picto-back"></div>
            <%= image_tag "sustainability.svg", alt: "alttext", height: 82 %>
          </div>
        </div>
        <div class="bullet-point-title text-center">
          <h3>L'Écoasis</h3>

        </div>
        <div class="text-center bullet-point-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel iure modi, itaque illo aut alias ad. Ab harum recusandae vero error asperiores. Molestias, nisi veritatis perspiciatis iste maxime culpa nihil!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-agenda">
  <%= image_tag "home.png", alt: "Permaculture-image-ronde", class: "hidden-xs hidden-sm" %>
  <div class="container-cqs home-agenda-box">
    <h2><span class="underline">Agenda 🌱</span></h2>
    <p>
      L’association organise des <strong>événements</strong> tout au long de l’année, d’initiation et d’introduction à la permaculture et à ses <strong>concepts</strong>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/vertical_card', event: Event.first %>
      </div>
    </div>
  </div>
</div>

